<div class="columns is-multiline is-variable is-05 is-mobile">
  <div class="column"
       [ngClass]="{
       'is-full-mobile is-one-third-tablet' : !gridSize,
       'is-one-third-mobile is-one-fifth-tablet' : gridSize === gridSizes.SMALL
       }"
       *ngFor="let img of images">
    <div class="card">
      <div class="card-image">
        <figure class="image" (click)="onImageClicked(img)">
          <img alt="" src="{{ img.thumb }}">
        </figure>
      </div>
    </div>
  </div>
</div>
<app-img-modal [images]="images"
               [selectedImage]="selectedImage"
               [isOpen]="showImageModal"
               (closed)="onImageModalClosed()"
></app-img-modal>

