<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['']">
      <span class="title">{{ title }}</span>
    </a>

    <div class="navbar-burger burger"
         (click)="mobileMenuActive = !mobileMenuActive"
         [class.is-active]="mobileMenuActive">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="nav-menu" class="navbar-menu heading" [class.is-active]="mobileMenuActive">
    <div class="navbar-end">
      <a class="navbar-item" *ngFor="let sectionLink of sectionLinks" [routerLink]="[sectionLink.link]" [routerLinkActive]="['is-active']"
         (click)="mobileMenuActive = false">{{ sectionLink.text }}</a>
    </div>
  </div>
</nav>