@charset "utf-8";

// Colors

$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$orange: hsl(14, 100%, 53%) !default;
$yellow: hsl(48, 100%, 67%) !default;
$green: hsl(141, 71%, 48%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(204, 86%, 53%) !default;
$blue: hsl(217, 71%, 53%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: hsl(348, 100%, 61%) !default;

// custom colors
$ember: #FF3B3F !default;
$carbon: #A9A9A9 !default;
$sky: #CAEBF2 !default;
$neutral: #EFEFEF !default;

// custom control settings
$section-padding: 3rem 0 !default;

// navbar
$navbar-item-color: $carbon !default;

$navbar-item-active-color: $ember !default;
$navbar-item-active-background-color: inherit !default;

$navbar-item-hover-color: $ember !default;
$navbar-item-hover-background-color: inherit !default;

// bulma imports
@import '../node_modules/bulma/sass/utilities/_all';
@import '../node_modules/bulma/sass/base/_all';
@import '../node_modules/bulma/sass/grid/_all';
// elements
@import '../node_modules/bulma/sass/elements/box';
@import '../node_modules/bulma/sass/elements/container';
@import '../node_modules/bulma/sass/elements/content';
@import '../node_modules/bulma/sass/elements/icon';
@import '../node_modules/bulma/sass/elements/image';
@import '../node_modules/bulma/sass/elements/other';
@import '../node_modules/bulma/sass/elements/title';
// components
@import '../node_modules/bulma/sass/components/breadcrumb';
@import '../node_modules/bulma/sass/components/dropdown';
@import '../node_modules/bulma/sass/components/menu';
@import '../node_modules/bulma/sass/components/navbar';
@import '../node_modules/bulma/sass/components/message';
@import '../node_modules/bulma/sass/components/modal';
// layout
@import '../node_modules/bulma/sass/layout/footer';
@import '../node_modules/bulma/sass/layout/section';

// global settings
$site-content-padding: 2.5rem !default;